<a href="https://colab.research.google.com/github/NicoleLund/flight_delay_prediction/blob/nrl_210817/data_manipulation_modeling/feature_assessment/feature_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

feature_assessment.ipynb
-----

Written in Google Colab

by Nicole Lund

This workbook investigates the correlation between features in 2017 flight performance prior to building a model from the data.

In [1]:
# Import dependencies
import pandas as pd
import datetime
from datetime import timedelta

In [3]:
# Read the CSV file from AWS to Pandas Dataframe
url = "https://finalproject-3.s3.us-west-1.amazonaws.com/tus_final_df.csv"

df = pd.read_csv(url)

df.head()

   Unnamed: 0  ... day_of_week
0           0  ...      Sunday
1           1  ...      Monday
2           2  ...      Monday
3           3  ...     Tuesday
4           4  ...     Tuesday

[5 rows x 31 columns]

In [4]:
# List all of the column headers
df.columns

Index(['Unnamed: 0', 'origin_city', 'dest_city', 'FL_DATE', 'OP_CARRIER',
       'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN',
       'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED',
       'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'day_of_week'],
      dtype='object')

In [25]:
# Identify row to verify calculations with
row = 0

In [26]:
# Verify DEP_DELAY/DEP_TIME calculation

print('Scheduled Departure Time')
print(df.CRS_DEP_TIME[row])
print(pd.to_datetime(df.CRS_DEP_TIME[row], format = '%H:%M:%S'))
print('')
print('Actual Departure Time')
print(pd.to_datetime(df.DEP_TIME[row], format = '%H%M'))
# print(pd.to_datetime(df.DEP_TIME[row], format = '%H%M').time())
# print(pd.to_datetime(df.DEP_TIME[row], format = '%H%M').strftime(format = '%H:%M:%S'))
print('')

dep_delay = pd.to_datetime(df.DEP_TIME[row], format = '%H%M') - pd.to_datetime(df.CRS_DEP_TIME[row], format = '%H:%M:%S')
print('Departure Delay')
print(dep_delay)
print(df.DEP_DELAY[row])

Scheduled Departure Time
14:30:00
1900-01-01 14:30:00

Actual Departure Time
1900-01-01 14:59:00

Departure Delay
0 days 00:29:00
29.0

In [27]:
# Verify WHEELS_OFF time
print('Departure time: ')
print(df.DEP_TIME[row])
print('Taxi time: ')
print(df.TAXI_OUT[row])
print('WHEELS OFF time:')
print(df.WHEELS_OFF[row])

Departure time:
1459.0
Taxi time:
10.0
WHEELS OFF time:
1509.0

In [28]:
# Verify WHEELS_ON time
print('Arrival time: ')
print(df.ARR_TIME[row])
print('Taxi time: ')
print(df.TAXI_IN[row])
print('WHEELS ON time:')
print(df.WHEELS_ON[row])

Arrival time:
2028.0
Taxi time:
17.0
WHEELS ON time:
2011.0

In [ ]:
# Verify WHEELS_ON time
print('WHEELS OFF time:')
print(df.WHEELS_OFF[row])
print('AIR_TIME: ')
print(df.AIR_TIME[row])
print('hours')
print(182/60)
print('minutes')
print(182-3*60)
print('WHEELS_ON time: ')
print(df.WHEELS_ON[row])

In [21]:
# Verify ACTUAL_ELAPSED_TIME calculation
actual_elapsed_time = df.TAXI_OUT[row]+df.TAXI_IN[row]+df.AIR_TIME[row]
print(actual_elapsed_time)
print(df.ACTUAL_ELAPSED_TIME[row])

22.0
0.0

In [30]:
# Verify Arrival time
print('Departure time: ')
print(df.DEP_TIME[row])
print('Actual Elapsed Time: ')
print(df.ACTUAL_ELAPSED_TIME[row])
print('hours')
print(209/60)
print('minutes')
print(209-3*60)
print('Arrival time: ')
print(df.ARR_TIME[row])
print(df.origin_city[row])
print(df.dest_city[row])

Departure time:
1459.0
Actual Elapsed Time:
209.0
hours
3.4833333333333334
minutes
29
Arrival time:
2028.0
TUCSON, ARIZONA, USA
ATLANTA, GEORGIA, USA

In [31]:
# Verify ARR_DELAY calculation
arr_delay = df.CARRIER_DELAY[row]+df.WEATHER_DELAY[row] + df.NAS_DELAY[row] + df.SECURITY_DELAY[row] + df.LATE_AIRCRAFT_DELAY[row]
print(arr_delay)
print(df.ARR_DELAY[row])

25.0
25.0

In [32]:
# Verify if ARR_DELAY is directly calculable from X values
print('Departure Time')
print(df.CRS_DEP_TIME[row])
print('Transit time')
print(df.DEP_DELAY[row] + df.TAXI_OUT[row] + df.AIR_TIME[row] + df.TAXI_IN[row])
print('hours')
print(238/60)
print('minutes')
print(238-3*60)
print(df.origin_city[row])
print(df.dest_city[row])
print('2hr time zone difference')
print('Calculated arrival time:')
print(14+3+2+1)
print(30-2)
print('Arrival time: ')
print(df.ARR_TIME[row])

Departure Time
14:30:00
Transit time
238.0
hours
3.966666666666667
minutes
58
TUCSON, ARIZONA, USA
ATLANTA, GEORGIA, USA
2hr time zone difference
Calculated arrival time:
20
28
Arrival time:
2028.0

In [33]:
# Review Diverted Values
print(df.DIVERTED.unique())
print(df.ARR_DELAY[df.DIVERTED == 1])

[0. 1.]
51       0.0
329      0.0
362      0.0
434      0.0
1352     0.0
1894     0.0
2072     0.0
2204     0.0
2236     0.0
3267     0.0
3403     0.0
3884     0.0
4056     0.0
4859     0.0
5322     0.0
6499     0.0
6500     0.0
7192     0.0
9418     0.0
10079    0.0
10261    0.0
10550    0.0
10773    0.0
11093    0.0
11098    0.0
11197    0.0
11203    0.0
12101    0.0
13528    0.0
14158    0.0
14193    0.0
14341    0.0
15209    0.0
15340    0.0
15349    0.0
Name: ARR_DELAY, dtype: float64

In [38]:
# Review CANCELLED Values
print(df.CANCELLED.unique())
print(df.ARR_DELAY[df.CANCELLED == 1])

[0. 1.]
41       0.0
172      0.0
176      0.0
177      0.0
181      0.0
        ...
14332    0.0
14420    0.0
14421    0.0
14640    0.0
14977    0.0
Name: ARR_DELAY, Length: 91, dtype: float64

In [39]:
df.loc[41,:]

Unnamed: 0                                              41
origin_city            TUCSON, ARIZONA, USA
dest_city              ATLANTA, GEORGIA, USA
FL_DATE                                         2017-01-23
OP_CARRIER                                              DL
OP_CARRIER_FL_NUM                                     2636
ORIGIN                                                 TUS
DEST                                                   ATL
CRS_DEP_TIME                                      07:00:00
DEP_TIME                                                 0
DEP_DELAY                                                0
TAXI_OUT                                                 0
WHEELS_OFF                                               0
WHEELS_ON                                                0
TAXI_IN                                                  0
CRS_ARR_TIME                                      12:30:00
ARR_TIME                                                 0
ARR_DELAY                                                0
CANCELLED                                                1
CANCELLATION_CODE                                        B
DIVERTED                                                 0
CRS_ELAPSED_TIME                                       210
ACTUAL_ELAPSED_TIME                                      0
AIR_TIME                                                 0
DISTANCE                                              1541
CARRIER_DELAY                                            0
WEATHER_DELAY                                            0
NAS_DELAY                                                0
SECURITY_DELAY                                           0
LATE_AIRCRAFT_DELAY                                      0
day_of_week                                         Monday
Name: 41, dtype: object

In [48]:
# Review CANCELLATION_CODE Values
codes = df.CANCELLATION_CODE.unique()
for code in codes:
  num_found = df.ARR_DELAY[df.CANCELLATION_CODE == code].count()
  print(f"Code {code}: {num_found}")

Code 0: 15315
Code B: 61
Code A: 20
Code C: 10

## Logical assessment of features

**Features to include in the model**

X values
* 'OP_CARRIER': airline designation
* 'OP_CARRIER_FL_NUM': flight number
* 'day_of_week': flight day of the week
* 'DEST': destination airport code
* 'CRS_DEP_TIME': scheduled departure time 
* 'CRS_ARR_TIME': scheduled arrival time
* 'DISTANCE': flight distance
* 'CANCELLATION_CODE_A': Code A reason for cancellation,  [0, 1]
* 'CANCELLATION_CODE_B': Code B reason for cancellation,  [0, 1]
* 'CANCELLATION_CODE_C': Code C reason for cancellation,  [0, 1]
* 'DIVERTED': flight diverted,  [0, 1]
* 'CARRIER_DELAY_BOOL': arrival delay due to carrier,  [0, 1]
* 'WEATHER_DELAY_BOOL': arrival delay due to weather,  [0, 1]
* 'NAS_DELAY_BOOL': arrival delay due to NAS,  [0, 1]
* 'SECURITY_DELAY_BOOL': arrival delay due to security,  [0, 1]
* 'LATE_AIRCRAFT_DELAY_BOOL': arrival delay due to aircraft,  [0, 1]

Y values
* 'Arrival Status': Categorical delayed arrival from ARR_DELAY, CANCELLED and DIVERTED
  * 0 = Delayed 0-15 minutes
  * 1 = Delayed 15-30 minutes
  * 2 = Delayed 30-60 minutes
  * 3 = Delayed 60+ minutes
  * 4 = Cancelled
  * 5 = Diverted


**Features not to inlcude in the model due to irrelevance**
* 'Unnamed: 0': extra index column
* 'ORIGIN': departure city, filtered for TUS only
* 'origin_city': departure city calculated from ORIGIN
* 'dest_city': destination city calculated from DEST
* 'CRS_ELAPSED_TIME': scheduled elapsed time
* 'WHEELS_OFF': actual wheels off time, DEP_TIME + TAXI_OUT
* 'WHEELS_ON': actual wheels on time, ARR_TIME - TAXI_IN

**Features not to inlcude in the model due to calculations**
* 'FL_DATE': flight date provides day_of_week
* 'DEP_TIME': actual departure time, CRS_DEP_TIME + DEP_DELAY
* 'ACTUAL_ELAPSED_TIME': TAXI_OUT + TAXI_IN + AIR_TIME
* 'ARR_TIME': actual arrival time, DEP_TIME + ACTUAL_ELAPSED_TIME + time zone difference
* 'ARR_DELAY': arrival time delay
* 'CANCELLED': flight cancelled, CANCELLATION_CODE != '0'

**Features not to include in the model due to they directly reveal Y values**
* 'DEP_DELAY': departure delay time
* 'TAXI_OUT': calculated time spent in taxi between departure time and wheels off
* 'TAXI_IN': calculated time spent in taxi between wheels on and arrival time
* 'AIR_TIME': calculated time spent in the air
* 'CARRIER_DELAY': arrival delay time due to carrier
* 'WEATHER_DELAY': arrival delay time due to weather
* 'NAS_DELAY': arrival delay time due to NAS
* 'SECURITY_DELAY': arrival delay time due to security
* 'LATE_AIRCRAFT_DELAY': arrival delay time due to aircraft

In [5]:
correlation_df = df.corr()
correlation_df

                     Unnamed: 0  ...  LATE_AIRCRAFT_DELAY
Unnamed: 0             1.000000  ...             0.042223
OP_CARRIER_FL_NUM      0.211644  ...             0.017860
DEP_TIME               0.106204  ...             0.231984
DEP_DELAY              0.022357  ...             0.502338
TAXI_OUT               0.089115  ...             0.030477
WHEELS_OFF             0.105379  ...             0.233858
WHEELS_ON             -0.005279  ...             0.202393
TAXI_IN               -0.035274  ...            -0.012946
ARR_TIME              -0.006429  ...             0.201635
ARR_DELAY              0.028075  ...             0.491033
CANCELLED              0.018811  ...            -0.013908
DIVERTED              -0.001159  ...            -0.008610
CRS_ELAPSED_TIME      -0.024935  ...            -0.019122
ACTUAL_ELAPSED_TIME   -0.021835  ...            -0.007617
AIR_TIME              -0.031809  ...            -0.011105
DISTANCE              -0.097655  ...            -0.021420
CARRIER_DELAY         -0.015859  ...             0.033796
WEATHER_DELAY         -0.000987  ...             0.000426
NAS_DELAY              0.047359  ...             0.022489
SECURITY_DELAY         0.009924  ...             0.003599
LATE_AIRCRAFT_DELAY    0.042223  ...             1.000000

[21 rows x 21 columns]